@import 'tailwindcss';
@import '@fontsource/nunito';
@import '@fontsource/archivo';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
	--color-blue: #1485ff;
	--color-blue-light: #8eb8e6;
	--color-purple: #b65bf3;
	--color-pink: #e83e8c;
	--color-red: #d41629;
	--color-orange: #fd7d15;
	--color-yellow: #eec44f;
	--color-yellow-light: #f3e246;
	--color-green: #28a745;
	--color-green-light: #66e686;
	--color-green-dark: #0f8b2c;
	--color-teal: #20c997;
	--color-cyan: #3ec2eb;
	--color-white: #fff;
	--color-transparent-grey: rgba(184, 184, 184, 0.5);
	--color-grey: #6c757d;
	--color-grey-dark: #343a40;

	--color-light: #f6f6f6;
	--color-dark: #282c31;
	--color-brand-orange: #f15b31;
	--color-brand-green: #cdda29;
	--color-brand-blue: #00589c;
	--color-brand-red: #ee3972;
	--color-brand-blue-light: rgb(196, 226, 252);

	--font-nunito: 'Nunito', sans-serif;
	--font-archivo: 'Archivo', sans-serif;
}

body {
	font-family: var(--font-nunito);
	background-color: var(--color-light);
	color: var(--color-dark);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	user-select: text;
}

img {
	user-select: none;
}

p {
	font-family: var(--font-archivo);
}

.underline-header + svg path {
  stroke: #ff3e00;
  stroke-width: 8;
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 1s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
